doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
		title= title

	body
		include vw-dashboard.pug
		div(style="display:block")
			form#searchBookPost(action='/searchBook/loadBookPost' method='POST' accept-charset="UTF-8")
				label.input-label-1(for='fileRead') File to Read
				input#fileRead.input-unit-1(type='text', placeholder='enter filename & ext.', name='fileReadPost', value='')
				button#ldBkBtn(type='submit', form='searchBookPost') Load Book

			label.input-label-1(for='searchTerm') Term to Search
			input#searchTerm.input-unit-1(type='text', placeholder='enter search term', name='searchTermPost')
			button#searchBookBtn(type='submit') Search Book

		if fsReadFileResults !== undefined
			each elmnt in fsReadFileResults.fsReadFileResultsLines
				p.fsResults= elmnt

		script(src='/javascripts/domModules/textDecM0d.js')

